
<header class="text-center mt-3">
  <div class="card">
    <div id="header_font" class="card-header" style="font-family: 'Roboto Slab', serif;background-color:#28364A">
      <div class="row">
        <h1 style="color:white"></h1> &nbsp;<h1 style="color:#D04A3E">Flight Management</h1>&nbsp;&nbsp;<h1 style="color:#F4D160">System</h1>&nbsp;<h1
          style="color: white"> </h1>
      </div>
      </div>
    </div>
    
    <nav class =" nav row bg-dark p-2">
      <a routerLink="xyz"class="nav-link ml-4 text-red">Home</a>
      
      <a routerLink="add" class="nav-link ml-4 text-red">New Booking</a>
      <a routerLink="viewb" class="nav-link ml-4 text-red">Search Booking</a>
      
      <a routerLink="view" class="nav-link ml-4 text-red"> Booking History</a>
      <a routerLink="viewb" class="nav-link ml-4 text-red"> Cancel Booking </a>
     
      
    </nav>
    
</header>


<hr/>
<router-outlet></router-outlet>
